
// util classes
.u {
  // grid helper to remove default padding
  // on elements
  &-bleed {
    &-right {
      padding-right: 0 !important;
    }

    &-left {
      padding-left: 0 !important;
    }

    &-top {
      padding-top: 0 !important;
    }

    &-bottom {
      padding-bottom: 0 !important;
    }
  }

  &-no-wrap {
    white-space: nowrap;
  }

  // text helper
  &-text {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }

    &-upper {
      text-transform: uppercase;
    }
  }

  // flex alignment helper
  &-align {
    &-self {
      &-start {
        align-self: flex-start;
      }

      &-end {
        align-self: flex-end;
      }
    }
  }

  // creates a linebreak
  &-linebreak {
    &-before:before,
    &-after:after {
      content: '';
      display: block;
    }
  }

  // creates a new line
  &-newline {
    &-before:before,
      &-after:after {
        content: '';
        display: block;
        height: 1em;
      }
  }
}

.is {
  &-hidden {
    display: none !important;
  }
}

